.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rotors {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input {
  height: 50px;
  width: 300px;
}
.input {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  gap: 10px;
}

.output {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  gap: 10px;
}
